@media(min-width: 768px){
.box-register{
    height:100vh;
    max-height:100vh;
    width:100vw;
    display:flex;
    justify-content:right;
    background-color:#272727;
}
.box-left{
    margin: auto;
    width:30vw;
    height:100vh;
    padding-top: 20vh;
    background-color:#1A1A1A;
}
.logo{
    height: 110px;
    width: 300px;
}
.box-formRegister{
    padding:5vh;
    padding-top: 13vh;
    width: 70vw;
    height:100vh;
}
.title-register{
    font-size:10vh;
    color: #fff;
}
.btn-confirm{
    background-color:#fa5e37 !important;
    border-color: #b32400 !important;
}
.nav-link{
    padding: 0px !important;
}
}

@media(max-width: 768px){
    .box-register{
        height:100vh;
        max-height:100vh;
        width:100vw;
        display:flex;
        justify-content:right;
    }
    .box-left{
        display:none;
    }
    .box-formRegister{
        padding:5vh;
        padding-top: 9vh;
        width: 100vw;
        height:100vh;
        padding-bottom: 2vh;
    }
    .title-register{
        font-size: 8vh;
        margin-top: -5vh;
    }
    .form-register{
        padding-bottom: 5vh;
    }
}